$green: #518581;
$black: #151411;
$lightGray: #f3f3f3;
$gray: #d9d9d9;
$darkGray: #afadb5;
$white: #ffffff;

$boxShadow: 0px 4px 120px rgba(175, 173, 181, 0.15);
$boxShadowDark: 0px 4px 20px rgba(175, 173, 181, 0.2);
